<card>
  <div class="main fadeIn">
    <div class="card fadeInUp">
      <div class="center bg-white rounded p-4 border-0">
        <form>
          <div>
            <h2 class="font-weight-bold">SIGN IN</h2>
            <p class="text-muted">Please enter your username.</p>
          </div>
          <br>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white text-muted border-right-0">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
              </span>
            </div>
            <input [(ngModel)]="username" name="username" type="text" class="border-left-0 form-control p-3" aria-label="" aria-describedby="basic-addon1"
              placeholder="Username">
          </div>
          <br>
          <div class="p-4 bg-danger text-white" *ngIf="error">
            Wrong username !
          </div>
          <div class="p-2 text-center text-muted" *ngIf="loading">
          </div>
          <br>
          <button class="btn btn-primary btn-login" (click)="onLoginClick()">
            LOGIN
            <i class="fa fa-sign-in" aria-hidden="true" style="margin-left: 10px;"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</card>