<div *ngIf="!(tabs$ | async) as tabs">
  <button class="btn btn-primary" (click)="delegateOpenTab($event)">New Transaction</button>
  <div class="row">
    <h3 style="position: absolute; left:50%; top: 48%">Welcome to ASDS</h3>
  </div>
</div>

<div *ngIf="(tabs$ | async) as tabs">
  <button class="btn btn-primary add-transaction-icon" (click)="delegateOpenTab($event)"><i class="fa fa-plus"></i></button>
  <tabset>
    <tab *ngFor="let tab of (tabs$ | async) as tabs; let i = index" [active]='true' heading="{{tab.heading}}">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <transaction-info></transaction-info>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <card cardTitle='Cockpit' isCollapse="true">
            <cockpit></cockpit>
          </card>
        </div>
        <div class="col-md-4">
          <card cardTitle="Configuration Panel" isCollapse="true">
            <param-node></param-node>
          </card>
        </div>
      </div>
    </tab>
  </tabset>
</div>