@import '../../../shared/theme/conf';
.new-task-input {
    display: inline-flex;
    flex: 1;
    width: 70%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #EEEEEE;
    outline: none;
    @include transition(all 1s);
    &:focus {
        border-bottom: 1px solid #007090;
    }
}

.node-action {
    cursor: pointer;
    margin: 5px 5px;
    float: right;
}

.table td, .table th {
    padding: 3px !important;
}

.card-content-container {
    width: auto;
    height: auto;
    background: #fff;
    position: relative;
    border: 1px solid #e4e3e3;
    border-radius: 1px;
    color: #26253c;
    padding: 5px;
    margin-bottom: 5px;
}

.combo-type {
    margin-bottom: 3px;
}