<div class="card-content-container">
  <div class="form-group" style="margin-bottom:7px">
    <input type="text" class="new-task-input" [(ngModel)]="sourceParameterNode.name" (keyup.enter)="creatNewTask()">
    <i class="fa fa-plus node-action"></i>
    <i class="fa fa-trash node-action"></i>
    <i class="fa fa-bars node-action" draggable="true" (dragstart)="drag($event)"></i>
  </div>
  <ng-select class="combo-type" [searchable]="false" [items]="types" bindLabel="label" autofocus bindValue="value" [(ngModel)]="selectedType"
    [clearable]="false">
  </ng-select>
  <table *ngIf="selectedType == 'int'" class="table table-bordered">
    <tbody>
      <tr>
        <td>Integer</td>
        <td>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="sourceParameterNode.param1">
        </td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="selectedType == 'double'" class="table table-bordered">
    <tbody>
      <tr>
        <td>Double</td>
        <td>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="sourceParameterNode.param1">
        </td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="selectedType == 'date'" class="table table-bordered">
    <tbody>
      <tr>
        <td>Date</td>
        <td>
          <input placeholder="dd/mm/yyyy" type="text" class="form-control" bsDatepicker #dp="bsDatepicker">
        </td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="selectedType == 'intList'" class="table table-bordered">
    <tbody>
      <tr>
        <td>Param 1</td>
        <td>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="sourceParameterNode.param1">
        </td>
      </tr>
      <tr>
        <td>Param 2</td>
        <td>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="sourceParameterNode.param2">
        </td>
      </tr>
    </tbody>
  </table>
</div>