.sortAscend {
    background-image: url("/assets/images/sortAscending.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 0;
    float: left;
    display: inline-block;
    margin-right: 12px;
    margin-top: 4px;
}

.sortDescend {
    background-image: url("/assets/images/sortDescending.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 0;
    float: left;
    display: inline-block;
    margin-right: 12px;
    margin-top: 4px;
}