.multiselect-dropdown {
    font-size: 15px !important;
}

.multiselect-dropdown .dropdown-btn {
    padding: 3px 6px !important;
}

.multiselect-dropdown .filter-textbox {
    padding: 3px 10px !important;
}

.multiselect-dropdown .filter-textbox>input {
    padding: 0px !important;
}