<div class="card">
  <form class="container">
    <div class="form-group row">
      <label for="transactionName" class="col-lg-2 col-md-2 col-sm-2 col-form-label">Transaction Name</label>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" id="transactionName" class="form-control" value="{{transactionName}}">
      </div>
      <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">{{creator}}</label>
      <label class="col-lg-2 col-md-2 col-sm-2 col-form-label">{{creationDate}}</label>
      <!-- <label for="simulationNumber" class="col-lg-2 col-md-2 col-sm-2 col-form-label">Simulations</label>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" id="simulationNumber" class="form-control" value="{{simultaionNb}}">
      </div> -->
      <button class="btn btn-primary col-lg-2 col-md-2 col-sm-2">Save</button>
      <button class="btn btn-primary col-lg-2 col-md-2 col-sm-2">Save As</button>
    </div>
  </form>
</div>