<div id="form:j_idt387" class="ui-outputpanel ui-widget toolbox verticaltoolbox displayfalse" style="top: 45px; left: 25px">
  <span id="toolbox9" class="toolboxhead">
    <span style="font-size: 10px;">Toolbox</span>
  </span>
  <a id="form:j_idt391" href="#" class="ui-commandlink ui-widget">
    <i class="fa fa-ellipsis-h switch-toolbox" aria-hidden="true"></i>
  </a>
  <table style=" top: 0px;position: relative;   border: #0277ad 1px solid; width : 50px">
    <tbody style="display: flex;">
      <tr style="width: 48px !important;">
        <td>
          <div id="form:j_idt394" class="ui-outputpanel ui-widget  toolboxcontent displayfalse toolboxcontentGroup">
            <li onclick="hoveringChange(0)" title="Generator" style=" white-space: nowrap; cursor:pointer;" class="drag-item ui_dragItem hoverGrouptrue">
              <img id="form:j_idt396" src="assets/images/graph_images/generatorsHover.png?pfdrid_c=true" alt="" class="  loopIcons">
            </li>
            <li onclick="hoveringChange(1)" title="Algebra and Functions" style=" white-space: nowrap; " class="drag-item ui_dragItem hoverGroup1true">
              <img id="form:j_idt398" src="assets/images/graph_images/algebaHover.png?pfdrid_c=true" alt="" class="loopIcons">
            </li>
            <li title="Time Operators" style=" white-space: nowrap; " onclick="hoveringChange(2)" class="drag-item ui_dragItem hoverGroup2false">
              <img id="form:j_idt400" src="assets/images/graph_images/time.png?pfdrid_c=true" alt="" class="loopIcons">
            </li>
            <li title="Financial Operators" style=" white-space: nowrap; " onclick="hoveringChange(3)" class="drag-item ui_dragItem hoverGroup3false">
              <img id="form:j_idt402" src="assets/images/graph_images/finan.png?pfdrid_c=true" alt="" class="loopIcons">
            </li>
            <li title="Recurrence" style=" white-space: nowrap; " onclick="hoveringChange(4)" class="drag-item ui_dragItem hoverGroup4false">
              <img id="form:j_idt404" src="assets/images/graph_images/recurrent.png?pfdrid_c=true" alt="" class="loopIcons">
            </li>
            <li title="Outputs, Storage and Statistics" style=" white-space: nowrap; " onclick="hoveringChange(5)" class="drag-item ui_dragItem hoverGroup5false">
              <img id="form:j_idt406" src="assets/images/graph_images/stats.png?pfdrid_c=true" alt="" class="loopIcons">
            </li>
            <li title="Connectors" style=" white-space: nowrap; " onclick="hoveringChange(6)" class="drag-item ui_dragItem hoverGroup6false">
              <img id="form:j_idt408" src="assets/images/graph_images/connectors.png?pfdrid_c=true" alt="" class="loopIcons">
            </li>
            <li title="Graph Navigation" style=" white-space: nowrap; " onclick="hoveringChange(7)" class="drag-item ui_dragItem hoverGroup7true">
              <img id="form:j_idt410" src="assets/images/graph_images/graphnavHover.png?pfdrid_c=true" alt="" class="loopIcons">
            </li>
          </div>
        </td>
        <td>
          <div id="form:j_idt412" class="ui-outputpanel ui-widget toolboxcontent imageleft" style="margin-left: 7px;">
            <table class=" groupoperations first displayfalse ">
              <tbody>
                <tr>
                  <td>
                    <img id="form:j_idt414" src="assets/images/graph_icon_images/green1.png?pfdrid_c=true" alt="" class="OP_NumberGeneratoropIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Generate Number">
                  </td>
                  <td>
                    <img id="form:j_idt415" src="assets/images/graph_icon_images/green2.png?pfdrid_c=true" alt="" class="OP_ConstPatternopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Add Constant Pattern">
                  </td>
                  <td>
                    <img id="form:j_idt416" src="assets/images/graph_icon_images/green3.png?pfdrid_c=true" alt="" class="OP_ConvoluteopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Convolution">
                  </td>
                  <td>
                    <img id="form:j_idt417" src="assets/images/graph_icon_images/green4.png?pfdrid_c=true" alt="" class="OP_SourceParameteropIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Source Parameters">
                  </td>
                </tr>
              </tbody>
            </table>
            <table class=" groupoperations second displayfalse ">
              <tbody>
                <tr>
                  <td>
                    <img id="form:j_idt419" src="assets/images/graph_icon_images/addicone.png?pfdrid_c=true" alt="" class="OP_TempoAddopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="add">
                  </td>
                  <td>
                    <img id="form:j_idt420" src="assets/images/graph_icon_images/funcicone.png?pfdrid_c=true" alt="" class="OP_TempoFuncopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Apply Function">
                  </td>
                  <td>
                    <img id="form:j_idt421" src="assets/images/graph_icon_images/multicone.png?pfdrid_c=true" alt="" class="OP_TempoMultopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Multiplication">
                  </td>
                  <td>
                    <img id="form:j_idt422" src="assets/images/graph_icon_images/divideicone.png?pfdrid_c=true" alt="" class="OP_TempoDivopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Division">
                  </td>
                </tr>
              </tbody>
            </table>
            <table class=" groupoperations third displayfalse ">
              <tbody>
                <tr>
                  <td>
                    <img id="form:j_idt424" src="assets/images/graph_icon_images/Catifi.png?pfdrid_c=true" alt="" class="OP_CaTiFiopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Calculate Trigger">
                  </td>
                  <td>
                    <img id="form:j_idt425" src="assets/images/graph_icon_images/ApTiFi.png?pfdrid_c=true" alt="" class="OP_ApTiFiopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Apply Trigger">
                  </td>
                  <td>
                    <img id="form:j_idt426" src="assets/images/graph_icon_images/CuTiFi.png?pfdrid_c=true" alt="" class="OP_CuTiFiopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Modify Trigger">
                  </td>
                  <td>
                    <img id="form:j_idt427" src="assets/images/graph_icon_images/clockv.png?pfdrid_c=true" alt="" class="OP_ClockopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Apply Clock">
                  </td>
                </tr>
              </tbody>
            </table>
            <table class=" groupoperations fourth displayfalse ">
              <tbody>
                <tr>
                  <td>
                    <img id="form:j_idt429" src="assets/images/graph_icon_images/finincome.png?pfdrid_c=true" alt="" class="OP_FinIncopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Calculate Financial Income">
                  </td>
                  <td>
                    <img id="form:j_idt430" src="assets/images/graph_icon_images/discounting.png?pfdrid_c=true" alt="" class="OP_FinDiscopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Calculate Discounting">
                  </td>
                </tr>
              </tbody>
            </table>
            <table class=" groupoperations fifth displayfalse ">
              <tbody>
                <tr>
                  <td>
                    <img id="form:j_idt432" src="assets/images/graph_icon_images/countop.png?pfdrid_c=true" alt="" class="OP_CounteropIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Counter">
                  </td>
                  <td>
                    <img id="form:j_idt433" src="assets/images/graph_icon_images/exitop.png?pfdrid_c=true" alt="" class="OP_ExitConditionopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Exit Conditions">
                  </td>
                  <td>
                    <img id="form:j_idt434" src="assets/images/graph_icon_images/itparam.png?pfdrid_c=true" alt="" class="OP_ParameteropIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Iteration Dependent Parameter">
                  </td>
                  <td>
                    <img id="form:j_idt435" src="assets/images/graph_icon_images/itparam.png?pfdrid_c=true" alt="" class="OP_ParameteropIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Iteration Weighted Average">
                  </td>
                </tr>
              </tbody>
            </table>
            <table class=" groupoperations sixth displayfalse ">
              <tbody>
                <tr>
                  <td>
                    <img id="form:j_idt437" src="assets/images/graph_icon_images/analysis.png?pfdrid_c=true" alt="" class="OP_WriteopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Statistics">
                  </td>
                </tr>
              </tbody>
            </table>
            <table class=" groupoperations seventh displayfalse ">
              <tbody>
                <tr>
                  <td>
                    <img id="form:j_idt439" src="assets/images/graph_icon_images/Forward.png?pfdrid_c=true" alt="" class="OP_TempoFwdopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Forward">
                  </td>
                  <td>
                    <img id="form:j_idt440" src="assets/images/graph_icon_images/Append.png?pfdrid_c=true" alt="" class="OP_TempoAppopIcons opIcons jtk-surface-droppable-node jtk-draggable"
                      title="Append">
                  </td>
                </tr>
              </tbody>
            </table>
            <table class=" groupoperations eighth displayfalse ">
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-arrows selected-mode navigation" mode="pan" title="Pan Mode"></i>
                  </td>
                  <td>
                    <i class="fa fa-dashed  navigation" mode="select" title="Select Mode">
                      <i class="fa  fa-location-arrow "></i>
                    </i>
                  </td>
                  <td>
                    <i class="fa fa-home  navigation" id="zoom-to-fit" title="zoom to fit"></i>
                  </td>
                  <td>
                    <i class="fa  fa-expand  closeAllGroup navigation" id="toggleGroup" onclick="toggleAllGroups()" title="toggle all structures"></i>
                  </td>
                  <td>
                    <i class="fa  fa-connectdevelop   navigation" id="sourceEdge" onclick="flipShowdashedEdge()" title="Show/hide sourcing edges"></i>
                  </td>
                  <td>
                    <i class="fa fa-tag navigation" id="showNodeName" title="show operations name"></i>
                  </td>
                  <td>
                    <i class="fa fa-link navigation" id="showNodesHaveBR" onclick="flipShowNodesHaveBR()" title="highlight nodes having business role"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <li class="displayfalse" style=" white-space: nowrap;padding: 5px 8px; width: 50px; height: 20px; background : #0277ad; list-style: none;">
    <a id="form:j_idt457" href="#" class="ui-commandlink ui-widget">
      <i class="fa  fa-sign-in " aria-hidden="true" title="close All" style="font-size: 12px; color: white; margin-top: 5px; top: -8px; transform: rotate(180deg); position: relative;            left: 0px"></i>
    </a>
    <a id="form:j_idt459" href="#" class="ui-commandlink ui-widget">
      <i class="fa  fa-sign-out " aria-hidden="true" title="open All" style="font-size: 12px; color: white; margin-top: 5px; top: -7px; left: -6px; position: relative; "></i>
    </a>


  </li>
</div>