<div class="pages-sider" [ngClass]="{'side-collapsed':!sidebarToggle}">
  <span class="sidebar-top-line"></span>
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" #filter (keyup)="filterNodes(filter.value)" placeholder="Search ...">
  </div>

  <div id="accordion" class="accordion">
    <card cardTitle="Transactions" isCollapse="true" class="transaction-container-card">
      <transactions-tree-view></transactions-tree-view>
    </card>
    <card cardTitle="Structures" isCollapse="true">
      <span class="empty-data">
        No Data Found
      </span>
    </card>
  </div>
  <div class="row">
    <!-- <div class="btns-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button class="btn btn-small btn-secondary">Show All</button>
      <button class="btn btn-small btn-secondary">Show Only Mine</button>
    </div> -->
  </div>

  <!-- <div #contextualMenu id="contextualMenu" class="dropdown-menu dropdown-menu-sm">
    <a class="dropdown-item" (click)="ction1()">Action One</a>
    <a class="dropdown-item" (click)="action2()">Action Two</a>
    <a class="dropdown-item" (click)="action3()">Action Three</a>
  </div> -->

</div>