@import '../../../shared/theme/conf';
.pages-sider {
    width: 250px;
    height: 100%;
    background: $sidebar-bg;
    overflow-x: hidden;
    z-index: 20000;
    @include transition(all .3s);
    border: none;
    .sidebar-top-line {
        display: block;
        width: 80%;
        position: relative;
        left: 10%;
        border-top: 1px solid $sidebar-top-line;
    }
}

.side-collapsed {
    width: 0;
    /* .avatar-wrap {
        padding: 15px 4px;
        border-bottom: 1px solid transparent;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 5px 2px;
    }
    .user-info-wrap {
        transform: scale(0, 0);
    } */
    .fa-search.form-control-feedback{
        display: none;
    }
}

@media (max-width:1440px) {
    .pages-sider {
        width: 260px;
    }
    .side-collapsed {
        width: 0;
    }
}

@media (max-width:970px) {
    .pages-sider {
        width: 210px;
        position: absolute;
    }
    .side-collapsed {
        width: 0;
    }
}

@media (max-width:414px) {
    .pages-sider {
        width: 210px;
        position: absolute;
    }
    .side-collapsed {
        width: 0;
    }
}

.has-search{
    margin-top: 3px;
    margin-bottom: 0px !important;
}

.has-search .form-control::placeholder {
    color: #e0e0e0;
    opacity: 1; /* Firefox */
  }
  
  .has-search .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #e0e0e0;
  }
  
  .has-search .form-control::-ms-input-placeholder { /* Microsoft Edge */
   color: #e0e0e0;
  }

.has-search .form-control {
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border: none;
    outline: none;
    color: $sidebar-fonts-color;
    font-size: $sm-text;
    text-indent: 1.5em;
    &:focus{
        .form-control-feedback{
            color: #FFF !important;
        }
        border-color: white !important;
    }
}

.has-search .form-control:focus{ 
    box-shadow: 0 0 0 1px transparent !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 31px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.accordion{
    margin: 10px 2px 0px 2px;
}

:host /deep/ .accordion .card {
    margin-bottom: 8px;
}

:host /deep/ .accordion .card .card-content{
    padding: 0px;
}

:host /deep/ .accordion .menu-item .menu-link{
    color: #303030 !important;
}

:host /deep/ .accordion .card-header {
    //padding: 5px 10px !important;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    content: "\f067"; 
}

.search-group {
    position: absolute;
    top: 50%;
    right: 170px;
    transform: translate(0, -50%);
    width: 340px;
    background: $border-color;
    border: 1px solid $border-color;
    border-radius: 2px;
    overflow: hidden;
    .search-input {
        width: 300px;
        height: 40px;
        background: transparent;
        border: none;
        outline: none;
        color: $sidebar-fonts-color;
        font-size: $sm-text;
        text-indent: 1.5em;
    }
    .search-btn {
        position: relative;
        top: -1px;
        right: 1px;
        width: 30px;
        height: 30px;
        background: $primary;
        border: 0;
        border-radius: 50%;
        outline: none;
        line-height: 30px;
        text-align: center;
        color: $body-bg;
        transform: scale(0);
        transition: all .4s;
        &:hover {
            background: lighten($primary, 10%);
            transform: scale(1);
        }
    }
    .search-input:focus+.search-btn {
        transform: scale(1);
    }
}

.btns-container {
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
}

.empty-data {
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 14px;
}