<tree-root #tree [ngClass]="'expand-tree'" [nodes]="nodes" [options]="customTemplateStringOptions" [focused]="true" (event)="onEvent($event)"
  (initialized)="onInitialized(tree)">
  <ng-template #treeNodeTemplate let-node>
    <i class="fa fa-file fa-fw ico" *ngIf="!node.children"></i>
    <i class="fa fa-folder fa-fw ico" *ngIf="node.children && node.isCollapsed"></i>
    <i class="fa fa-folder-open fa-fw ico" *ngIf="node.children && !node.isCollapsed"></i>
    <span class="node-subtitle" title="{{node.data.subTitle}}" [ngClass]="node.isRoot ? 'root-node' : ''">{{ node.data.name }}</span>
    <span class="pull-right" *ngIf="node.isRoot">
      <div class="dropdown">
        <i class="fa fa-sort" aria-hidden="true" data-toggle="dropdown" style="font-size: 13px; color: #FF6F00;"></i>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="openUserPrefModal(content)"><span class="sortAscend"></span> Sort Ascending</a>
          <a class="dropdown-item" (click)="logOut()"><span class="sortDescend"></span> Sort Descending</a>
        </div>
      </div>
    </span>
  </ng-template>
  <ng-template #loadingTemplate><span class="loadingimg"></span></ng-template>
</tree-root>
<div class="menu" *ngIf="contextMenu" [style.left.px]="contextMenu.x" [style.top.px]="contextMenu.y">
  <ul>
    <li (click)="copy()">
      <a>Copy</a>
    </li>
    <li (click)="cut()">
      <a>Cut</a>
    </li>
    <li (click)="rename()">
      <a>Rename</a>
    </li>
    <li (click)="remove()">
      <a>Remove</a>
    </li>
    <li (click)="paste()">
      <a [style.opacity]="canPaste() && 1 || 0.3">Paste</a>
    </li>
  </ul>
</div>