<div class="card card-nav-tabs">
  <div class="card-header card-header-primary">
      <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
      <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                      <a class="nav-link active" href="#profile" data-toggle="tab">
                          Simulation
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#messages" data-toggle="tab">
                          Computation Log
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#settings" data-toggle="tab">
                          Help
                      </a>

                  </li>
                  <li class="nav-item close">
                    <span class="fa fa-times"></span>
                </li>
              </ul>
          </div>
      </div>
  </div><div class="card-body ">
      <div class="tab-content">
          <div class="tab-pane active" id="profile">
              <p> Simulation ...</p>
          </div>
          <div class="tab-pane" id="messages">
              <p> Computation ...</p>
          </div>
          <div class="tab-pane" id="settings">
              <iframe src="" frameborder="0" height="700" style="width: 100%;"></iframe>
          </div>
      </div>
  </div></div>