<!-- <card cardTitle="Inline Form"> -->
    <card>
        <form class="form-inline">
          <label for="example1" class="form-label label-with-margin">Transaction Name: </label>
          <input type="text" class="form-control" value="{{transactionName}}">
          <label for="example2" class="form-label label-with-margin">{{creator}}</label>
          <label for="example2" class="form-label label-with-margin">{{creationDate}}</label>
          <label for="example2" class="form-label label-with-margin">NB Simulation</label>
          <input type="text" class="form-control" value="1000">
          <div class="transaction-btns">
              <button type="submit" class="btn btn-primary btn-with-margin btn-same-width">Save as</button>
              <button type="submit" class="btn btn-primary btn-with-margin btn-same-width">Save</button>
          </div>
        </form>
      </card>