@import '../mixin';
$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:#fff;
$base-color:#fff;
$dark-color:#fff;
$navbar-bg:#fff;
$sidebar-bg:#fff;
$sidebar-fonts-color:#26253c;
$card-bg:#fff;
$card-border:transparent;
$white:#fff;
$black:#000;
$border-color:#e6e6e6;
$table-border-color:#e6e6e6;
$fonts-color:#26253c;
$primary:#fca400;
$success:#55b559;
$danger:#f55145;
$warning:#ff9e0f;
$info:#00cae3;
$btn-primary: #3081a7;
$btn-secondary: #607D8B;
$btn-info: #33b5e5;
$btn-success: #388e3c;
$btn-danger:#D32F2F;
$btn-orange: #FF5722;
$btn-green:#00bcd4;
$btn-dark-green:#009688;
$loader:#007090;
$sidebar-top-line:#9e9e9e;
$input-border-focus:#3081a7;
body {
    background: $body-bg;
}

.bg-default {
    @include linear-gradient(to top right, darken($card-bg, 40%), darken($card-bg, 30%));
}

.bg-primary {
    @include linear-gradient(to top right, $primary, #fad05e);
}

.bg-success {
    @include linear-gradient(to top right, $success, #42e697);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fda09c);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fca063);
}

.bg-info {
    @include linear-gradient(to top right, $info, #15f8bf);
}