<button class="config-switch" (click)="configToggle()">
  <i class="fa fa-cog" *ngIf="!isConfigToggle"></i>
  <i class="fa fa-chevron-right" *ngIf="isConfigToggle"></i>
</button>
<div class="right-config-wrap" [ngClass]="{'right-config-wrap-on':isConfigToggle}">
  <div class="config-header">
    <h3 class="config-title">
      <i class="fa fa-cogs"></i>
      <span>Settings</span>
    </h3>
  </div>
  <ul class="config-content">
    <li class="config-list">
      <span>Langage</span>
      <ng-select #api [searchable]="false" [items]="languages" bindLabel="name" autofocus bindValue="name" [(ngModel)]="selectedLanguage" [clearable]="false" (change)='onLangChange()'>
        <ng-template ng-header-tmp>
            <input style="width: 100%; line-height: 24px" type="text" (input)="api.filter($event.target.value)" />
        </ng-template>
        <ng-template ng-label-tmp let-item="item">
            <img height="15" width="15" [src]="item.flag" style="margin-top: -3px; margin-right: 10px"/>
            <span>{{item.name}}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <img height="15" width="15" [src]="item.flag" style="margin-top: -3px; margin-right: 10px"/>
            <span>{{item.name}}</span>
        </ng-template>
      </ng-select>
</li>
<li class="config-list">
  <span>Config2</span>
  <switch switchName="config3" switchId="config3" multiple></switch>
</li>
</ul>
</div>